.container {
  display: flex;
  justify-content: center;
  position: relative;
}

img {
  width: 100%;
}

#pr {
  position: absolute;
  left: 1%;
  top: 50%;
}
#nx {
  position: absolute;
  right: 1%;
  top: 50%;
}
